page-createaccount {

    .button{

        margin-top: 40px !important;

    }

    .heading{

        font-size: 30px;
        text-align: center;
        font-weight: 500;
        font-family: Helvetica;

    }


}
